<h1 class="title">Home</h1>

<div class="statistics">
    <ul class="statistics">
        <li>節約額　（今月）　：</li>
        <li>節約額（今まで）　：<%= @discount_sum %></li>
        <li>フォロー数　　　　：<%= current_user.followers.count %></li>
        <li>フォロワー数　　　：<%= current_user.following.count%></li>
    </ul>
</div>

<% @posts.each do |post| %>
    <div class="post">
        <p id="discount"><%= post.discount %>円もお得！</p>
        <p id="price"><%= post.price %>円で買えた！</p>
        <p id="memo">一言メモ：<%= post.memo %></p>
        <%= image_tag post.image if post.image.attached? %>
        <p><%= link_to '編集', edit_post_path(post)  %></p>
           <%# -> routes -> edit (controller) -> view %>
        <p><%= link_to '削除', post_path(post), method: :delete %></p>
    </div>
<% end %>
<%= will_paginate @posts %>