<h1 class="title">Home</h1>

<div class="statistics">
    <ul class="statistics">
        <li>節約額　（今月）　：</li>
        <li>節約額（今まで）　：<%= @discount_sum %></li>
        <li>フォロー数　　　　：<%= current_user.followers.count %></li>
        <li>フォロワー数　　　：<%= current_user.following.count%></li>
    </ul>
</div>

<div>
    <%= form_with url: search_path, local: false, method: :get do |f| %>
        <%= f.text_field :word, placeholder: "検索キーワード", class: "search-box" %>
        <%= f.submit "検索", class: "btn" %>
    <% end %>
<div>

<%# パーシャルのpostsに、@postsを代入 %>
<div id="post-list">
    <%= render 'posts/post', posts: @posts %>
    <%= will_paginate @posts %>
</div>
