<h2 class="before-home-title">ログイン</h2>

<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  
  <div class="user-field">
    <%= form.label :email, "メールアドレス", class: "user-field-title" %>
    <%= form.email_field :email, class: "user-field-field" %>
  </div>

  <div class="user-field">
    <%= form.label :password, "パスワード", class: "user-field-title" %>
    <%= form.password_field :password, class: "user-field-field" %>
  </div>

  <div>
    <%= form.submit "ログイン", class: "btn btn-primary user-field-button" %>
  </div>

  <%= link_to '新規登録', new_user_path %>

<% end %>