<h2>ユーザ新規登録</h2>

<%= form_with(model: @new_user, url: users_path, local: true) do |form| %>
  
    <div class="field">
        <%= form.label :email, "メールアドレス" %>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.label :password, "パスワード"%>
        <%= form.password_field :password %>
    </div>

    <div class="field">
        <%= form.label :password_confirmation, "パスワード（確認）"%>
        <%= form.password_field :password_confirmation %>
    </div>

    <div>
        <%= form.submit "新規登録する！", class: "btn btn-primary" %>
    </div>

    <%= link_to 'ログイン', login_path %>

<% end %>