<p>今までの投稿数：<%= @posts.count %></p>
<%= will_paginate @posts %>
<% @posts.each do |post|%>
    <p>どれくらい得した？：<%= post.discount %></p>
    <p>普通の価格：<%= post.price %></p>
    <p>一言メモ：<%= post.memo %></p>
<% end%>
<%= will_paginate @posts %>