<%# <p>今までの投稿数：<%= posts.count %></p>

<% posts.each do |post| %>
    <div class="post">
        <h3><%= post.price %>円　　
            <i class="fa-solid fa-piggy-bank"></i>
            <%= post.discount %> 円
        </h2>
        <p class="post-memo">
            <%= post.memo %>
        </p>
        <%= image_tag post.display_image if post.image.attached? %>

        <div class="post-information">
            <div>
                いいね：<%= post.favorites.count%>　
                <% if current_user.already_favorited?(post) %>
                    <%= link_to remove_favorite_path(post), method: :delete do %>
                        <i class="fa-solid fa-heart"></i>
                    <% end %>
                <% else %>
                    <%= link_to add_favorite_path(post), method: :post do %>
                        <i class="fa-regular fa-heart"></i>
                    <% end %>
                <% end %>
            </div>
        
            <div class="post-edit-delete">
                <%= link_to edit_post_path(post) do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
                    <%# -> routes -> edit (controller) -> view %>
                <%= link_to post_path(post), method: :delete do %>
                    <i class="fa-solid fa-trash-can"></i>
                <% end %>
                <%# <%= button_to '削除', post, :method => :delete %>
            </div>
        </div>
        

    </div>
<% end %>