<%= form_with(model:@post, local: true) do |f| %>

    <div class="post-form">
        <%= f.label :price, "購入価格" , class: "post-label" %>
        <%= f.text_field :price, :placeholder =>"#{@post.price}", class: "post-field" %>
    </div>

    <div class="post-form">
        <%= f.label :discount, "節約額", class: "post-label" %>
        <%= f.text_field :discount, :placeholder =>"#{@post.discount}", class: "post-field" %>
    </div>

    <div class="post-form">
        <%= f.label :shop, "購入店", class: "post-label" %>
        <%= f.text_field :shop, :placeholder =>"#{@post.shop}", class: "post-field" %>
    </div>

    <div class="post-form post-form-memo">
        <%= f.label :memo, class: "post-label" do %>
            <i class="fa-solid fa-file-pen"></i>
        <% end %>
        <%= f.text_area :memo, :placeholder =>"#{@post.memo}", class: "post-field post-field-memo" %>
    </div>

    <%= f.submit "更新", class: "btn btn-primary post-submit" %>
<% end %>