<%= form_with(model: @new_post, local: true) do |form| %>
  
  <div>
    <%= form.label :discount, "どのくらい安く買えた？" %>
    <%= form.text_field :discount %>
  </div>

  <div>
    <%= form.label :price, "普通はいくらくらい？"%>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :memo, "一言メモ：" %>
    <%= form.text_area :memo %>
  </div>
  
  <div>
    <%= form.submit "投稿する！", class: "btn btn-primary" %>
  </div>

  <span class='image'>
    <%= form.file_field :image %>
  </span>
<% end %>