<section>
  <%= form_with(model: @new_post, local: true) do |form| %>
    
    <div class="new-post-form">
      <%= form.label :price, "値段" , class: "new-post-label" %>
      <%= form.text_field :price, class: "new-post-field" %>
    </div>

    <div class="new-post-form">
      <%= form.label :discount, "節約額", class: "new-post-label" %>
      <%= form.text_field :discount, class: "new-post-field" %>
    </div>

    <div class="new-post-form new-post-memo">
      <%= form.label :memo, class: "new-post-label" do %>
        <i class="fa-solid fa-file-pen"></i>
      <% end %>
      <%= form.text_area :memo, class: "new-post-field" %>
    </div>
    
    <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "new-post-picture" %>

    <%= form.submit "投稿", class: "btn btn-primary new-post-submit" %>
  <% end %>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<%# 検証のconsoleを使って、console.logにてデバック可能。 %>
<script type="text/javascript">
  $("#post_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#post_image").val("");
    }
  });
</script>
