<header class="nav navbar-fixed-top navbar-default">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "友達", friends_path %></li>
            <li><%= link_to "友達を探す", find_friend_path %></li>
            <li><%= link_to "投稿", new_post_path %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <ul>
    </div>
</header>